@using GHub.Components
@using GHub.Data.Games.Chatting

    <div class="card-body" @onclick="OnClick">
        <h5 class="card-title">@Room.Id</h5>
        <h6 class="card-subtitle mb-2 text-muted">
            Members: @string.Join(",", Room.ChatUsers.Select(x => x.AppUser.Email))
        </h6>
        
        @{
            var lastMessage = @Room.ChatMessages.LastOrDefault();
        }
        
        @if (lastMessage != null)
        {
            <p class="card-text">Last message: @lastMessage.MessageText </p>
        }
    </div>

@code {

    [Parameter]
    public ChatRoom Room { get; set; }

    [Parameter]
    public Action<ChatRoom> OnChatClick { get; set; }

    private void OnClick(MouseEventArgs arg)
    {
        OnChatClick?.Invoke(Room);
    }

}
