@using GHub.Data.Games.Chatting
@using GHub.Data

<div class="card-body" @onclick="OnClick">
    <h5 class="card-title">@Room.Name</h5>
    <h6 class="card-subtitle mb-2 text-muted">
        Members: @Members
    </h6>


    @if (LastMessage != null)
    {
        <p class="card-text">Last message: @LastMessage.MessageText </p>
    }
</div>

@code {

    [Parameter]
    public ChatRoom Room { get; set; }

    [Parameter]
    public Action<ChatRoom> OnChatClick { get; set; }

    private string Members => string.Join(", ", Room?.ChatUsers.Select(x => x.AppUser) ?? new AppUser[] { });

    private ChatMessage LastMessage => @Room?.ChatMessages?.LastOrDefault();

    private void OnClick(MouseEventArgs arg)
    {
        OnChatClick?.Invoke(Room);
    }

}
