@using GHub.Data.Games.Chatting
@using System.Drawing

@if (Message != null)
{
    <p>
         <span style="color: @ColorTranslator.ToHtml(Message.ChatUser.UserNameColor)"> @Message.ChatUser.AppUser</span>: @Message.MessageText
        
        <span class="small text-muted">@Message.SendTime.ToShortTimeString()</span>
    </p>
}
@code {

    [Parameter]
    public ChatMessage Message { get; set; }
}