@page "/chat"
@inherits GHub.Components.BlazorChatComponent

<div class="container">
    <div class="row">
        <ChatRoomsDisplay Chats="@UserChats" OnChatClick="SelectedChatChanged"/>
        <div class="col">
            <ChatRoomMessagesDisplay ChatRoom="@SelectedChatRoom" OnSendNewMessage="@OnSendMessage" />
        </div>
    </div>
</div>






    





