@page "/chat"
@inherits GHub.Components.BlazorChatComponent

<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    Chats
                </div>
                <ul class="list-group list-group-flush">

                    <li class="list-group-item">
                        @foreach (var chat in UserChats)
                        {
                            <ChatRoomDisplay Room="@chat" OnChatClick="SelectedChatChanged" />
                        }
                    </li>
                </ul>
            </div>
        </div>
        <div class="col">
            @*// todo: extract to component*@
            @if (SelectedChatRoom != null)
            {
                @foreach (var message in SelectedChatRoom.ChatMessages)
                {
                    <ChatMessageDisplay Message="@message"/>
                }

                <div class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Input you message" @bind="TypedMessage" />
                    </div>
                    <button type="submit" class="btn btn-primary" @onclick="OnSendMessage">Send</button>
                </div>
            }
        </div>
    </div>
</div>






    





